.nav-logo{
	max-width: 167px;
}
a:hover{
	text-decoration: none;
}
.header{
	position: fixed;
	background: white;
	width: 100%;
	z-index: 111;
	box-shadow: 0 5px 11px 0 rgba(50, 50, 50, 0.08);
}
.social-nav li a{
	color: #003057 !important;
	padding-left: 21px
}
.social-nav li a:hover{
	color:  #404040 !important;
	padding-left: 21px
}

.navbar-nav li a{
	color: #404040;
	padding-left: 21px;
	transition-duration: .3s;
}
.navbar-nav li a:hover{
	color: #ffdd00;
	transition-duration: .3s;
}
.social-nav{
	padding-left: 150px;
}
.iconos-app{
	font-size: 25px !important;
}
.portada{
	background-image: url(../img/equipo1.jpg);
	background-size: cover;
	height: 92vh;

	display: grid;
	align-items: center;
}
.portada h1,
.portada h2{
	color: white;
	margin: auto;
	font-weight: bold;
}
.portada h1{
	font-size: 45px
}
.portada h2{
	font-size: 30px;
	padding-bottom: 30px;
}
.mas-informacion{
	padding: 60px 0;
}
.mas-informacion p{
	font-size: 19px;
	padding-top: 10px;

}
.mas-informacion h4{
	font-size: 24px;
}
.mas-info{
	padding-top: 30px;
}
.mas-info a{
	border: none;
	padding: 15px;
	border-radius: 24px;
	width: 140px;
	background: #ffdd00;
	color: black;
	transition-duration: .4s;
}
.mas-info a:hover,
.section-ayuda a:hover,
.content-text a:hover,
.section-contact input[type="submit"]:hover{
	background: white;
	border: 1px solid #ffdd00;
	transition-duration: .4s;
}
.asesoramiento{
	background-image: url(../img/equipo1.jpg);
	background-size: cover;
	height:61vh;
}
.asesoramiento h3,
.asesoramiento p, 
.asesoramiento li{
	color: white;
	display: block;
}
.border-titulo{
	margin-bottom: 25px;
	padding-bottom: 40px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.info-aseso{
	padding: 0;
	background: #0077C8;
	height: 61vh;
}
.section-service{
	padding: 70px 0;
	background: #efefef;
}
.section-service h2{
	font-weight: bold;
	padding-bottom: 60px;

}
.content-card{
	background: white;
	padding: 30px;
	transition-duration: .4s;
}
.content-card:hover{
	transform: translateY(-5px);
	-webkit-transform: translateY(-5px);
	-moz-transform: translateY(-5px);
	transition-duration: .4s;
}
.content-card p{
	color: #777777;
	font-size: 18px;
	margin-bottom: 10px;
}
.content-text-card{
	height: 50vh;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	margin-top: 25px;
}
.section-ayuda{
	padding-top: 70px;
	padding-bottom: 70px;
	background: #003057;
}
.section-ayuda p{
	color: white;
	font-size: 24px;
}
.section-ayuda a{
	padding: 19px 36px;
	border-radius: 23px;
	color: black;
	font-size: 15px;
	background: #ffdd00;
	transition-duration: .4s;
}
.section-contact{
	padding: 70px 0;
	background: #efefef;
}
.section-contact h2{
	color: #404040;
	padding-bottom: 70px;
}
.section-contact li{
	display: block;
}
.section-contact p,
.section-contact li{
	font-size: 18px;
	color: #404040;
	padding-bottom: 10px;
}
.section-contact h3{
	padding-bottom: 10px;
}
.content-info-contact{
	padding: 0;
}
.section-contact input{
	width: 160px;
	height: 43px;
	padding: 0px 13px;
	color: #817581;
	margin: 0px;
	border: 1px solid #f1b7be;
	padding-bottom: 0px;
	border-radius: 6px;
}

.section-contact textarea{
	padding: 7px 15px;
	width: 100%;
	border-radius: 6px;
	border: none;
}
.section-contact input[type="email"]{
	margin: 0 25px;
	margin-bottom: 11px; 
}
.section-contact input[type="submit"]{
	float: right;
	padding: 10px;
	background: #ffdd00;
	border-radius: 20px;
	border: none; 
	width: 200px !important;
}
.footer-app{
	padding: 70px 0;
	background: #003057;
	color: #939393;
}
.footer-app li{
	display: block;
}
.footer-app li a{
	color: #939393 !important;
}
.copy-app{
	background: #000;
	padding-bottom: 20px;
	padding-top: 20px;
	color: #939393!important;
}
.footer-social{
	display: -webkit-inline-box;
	display: -moz-inline-box;
}
.section-blog{
	position: relative;
	padding: 60px 0;

}
.section-blog h2{
	padding-bottom: 40px;
}
.centrar-vertical{
	display: grid;
	align-items: center;
}
.border-maps iframe{
	width: 100%;
	height: 400px;
	margin-bottom: -10px;
}
.fa-angle-left, .fa-angle-right{
	color: rgb(121, 118, 118);
	font-size: 50px !important;
	font-weight: bold !important;
	cursor: pointer;

}
.content-text{
	padding: 25px 0px;
}
.content-text p{
	padding: 25px 0px;
	color: #777777;
	font-size: 20px;
}
.content-text a{
	background: #ffdd00;
	color: black;
	padding: 20px;
	border-radius: 30px;
	cursor: pointer;
}
.next-prev{
	
	position: absolute;
	top: 50%;
	left: -120px;
	right: -120px;
}

.content-card-blog{
	padding: 0px 15px;
}