.nav-logo{
	max-width: 167px;
}
a:hover{
	text-decoration: none;
}
.header{
	position: fixed;
	background: white;
	width: 100%;
	z-index: 111;
	box-shadow: 0 5px 11px 0 rgba(50, 50, 50, 0.08);
}
.social-nav li a{
	color: #003057 !important;
	padding-left: 21px
}
.social-nav li a:hover{
	font-family: 'Lato', sans-serif;
	color:  #404040 !important;
	padding-left: 21px
}

.navbar-nav li a{
	color: #404040;
	padding-left: 21px;
	transition-duration: .3s;
}
.navbar-nav li a:hover{
	color: #ffdd00;
	transition-duration: .3s;
}
.social-nav{
	padding-left: 150px;
}
.iconos-app{
	font-size: 25px !important;
}
.contenedor-general{
	position: relative;
	top: 90px;
}
.portada{
	background-image: url(../img/equipo1.jpg);
	background-size: cover;
	height: 82vh;


	display: grid;
	align-items: center;
}
.portada-contact{
	background-image: url(../img/ba3.jpg);
	background-size: cover;
	height: 65vh;
	position: relative;
	display: grid;
	align-items: center;
}
.blog-grid{
	padding: 70px 0;
	display: grid;
	grid-template-columns: 8fr 2fr;

}
.portada-blog{
	
	background-size: cover;
	height: 65vh;
	position: relative;
	display: grid;
	align-items: center;
}

.post-blog{
	margin-right: 30px;
	padding-bottom: 30px;
	margin-bottom: 60px;
	border-bottom: 1px solid #ccc;
}
.text-blog p{
	margin-top: 30px;
}

.entrada strong,
.categoria strong{
	font-size: 20px;
	padding-bottom: 5px;
	border-bottom: 1px solid #ffdd00;

}
.entrada p,
.categoria p{
	margin-top: 30px;
}
.centrar-portada{
	display: grid;
	align-items: center;
	height: 65vh;
	color: white;
}
.siguenos h2{
	padding: 100px 0 5px;
}
.siguenos ul{
	display: -webkit-inline-box;
}
.siguenos ul li a {
	padding-left: 0px;

}
.siguenos ul li a i{
	padding-left: 0px;
	margin: 5px;
	padding: 10px;
	background: #003057;
	border-radius: 50%;
	color: white;

}
.siguenos .fa-facebook{
	padding: 10px 13px !important;
}
.capa{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.47);
	left: 0;
}
.white-b{
	background: white !important;
}
.border-c{
	border: 1px solid #ccc !important;
}
.portada h1,
.portada h2{
	font-family: 'Montserrat', sans-serif;
	color: white;
	margin: auto;
	font-weight: bold;
}
.portada h1{
	font-size: 45px
}
.portada h2{
	font-size: 30px;
	padding-bottom: 30px;
}
.mas-informacion{
	padding: 60px 0;
}
.mas-informacion p{
	font-family: 'Lato', sans-serif;
	font-size: 19px;
	padding-top: 10px;

}
.mas-informacion h4{
	font-family: 'Lato', sans-serif;
	font-size: 24px;
}
.mas-info{
	padding-top: 30px;
}
.mas-info a{
	font-family: 'Lato', sans-serif;
	border: none;
	padding: 15px;
	border-radius: 24px;
	width: 140px;
	background: #ffdd00;
	color: black;
	transition-duration: .4s;
}
.mas-info a:hover,
.section-ayuda a:hover,
.boton-blog:hover,
.section-contact input[type="submit"]:hover{
	background: white;
	border: 1px solid #ffdd00;
	transition-duration: .4s;
}
.asesoramiento{
	background-image: url(../img/equipo1.jpg);
	background-size: cover;
	height:61vh;
}
.asesoramiento h3,
.asesoramiento p, 
.asesoramiento li{
	color: white;
	display: block;
}
.asesoramiento h3{
	font-family: 'Montserrat', sans-serif;
}
.asesoramiento p, 
.asesoramiento li{
	font-family: 'Lato', sans-serif;
}
.border-titulo{
	margin-bottom: 25px;
	padding-bottom: 40px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.info-aseso{
	padding: 0;
	background: #0077C8;
	height: 61vh;
}
.section-service{
	padding: 70px 0;
	background: #efefef;
}
.section-service h2{
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	padding-bottom: 60px;

}
.content-card{
	background: white;
	padding: 30px;
	transition-duration: .4s;
}
.content-card:hover{
	transform: translateY(-5px);
	-webkit-transform: translateY(-5px);
	-moz-transform: translateY(-5px);
	transition-duration: .4s;
}
.content-card p{
	font-family: 'Lato', sans-serif;
	color: #777777;
	font-size: 18px;
	margin-bottom: 10px;
}
.content-text-card{
	height: 50vh;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	margin-top: 25px;
}
.section-ayuda{
	padding-top: 70px;
	padding-bottom: 70px;
	background: #003057;
}
.section-ayuda p{
	font-family: 'Lato', sans-serif;
	color: white;
	font-size: 24px;
}
.section-ayuda a{
	font-family: 'Lato', sans-serif;
	padding: 19px 36px;
	border-radius: 23px;
	color: black;
	font-size: 15px;
	background: #ffdd00;
	transition-duration: .4s;
}
.section-contact{
	padding: 70px 0;
	background: #efefef;
}
.section-contact h2{
	font-family: 'Montserrat', sans-serif;
	color: #404040;
	padding-bottom: 70px;
}
.section-contact li{
	display: block;
}
.section-contact p,
.section-contact li{
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	color: #404040;
	padding-bottom: 10px;
}
.section-contact h3{
	font-family: 'Lato', sans-serif;
	padding-bottom: 10px;
}
.content-info-contact{
	padding: 0;
}
.section-contact input{
	width: 160px;
	height: 43px;
	padding: 0px 13px;
	color: #817581;
	margin: 0px;
	border: 1px solid #f1b7be;
	padding-bottom: 0px;
	border-radius: 6px;
	font-family: 'Lato', sans-serif;
}

.section-contact textarea{
	font-family: 'lato', sans-serif;
	padding: 7px 15px;
	width: 100%;
	border-radius: 6px;
	border: none;
}
.section-contact input[type="email"]{
	margin: 0 25px;
	margin-bottom: 11px; 
}
.section-contact input[type="submit"]{
	float: right;
	padding: 10px;
	background: #ffdd00;
	border-radius: 20px;
	border: none; 
	width: 200px !important;
}
.footer-app{
	padding: 70px 0;
	background: #003057;
	color: #939393;
}
.footer-app li{
	display: block;
}
.footer-app  a{
	font-family: 'Lato', sans-serif;
	color: #939393 !important;
}
.copy-app{
	background: #000;
	padding-bottom: 20px;
	padding-top: 20px;
	color: #939393!important;
}
.footer-social{
	display: -webkit-inline-box;
	display: -moz-inline-box;
}
.section-blog{
	position: relative;
	padding: 60px 0;

}
.section-blog h2{
	font-family: 'Montserrat', sans-serif;
	padding-bottom: 40px;
}
.centrar-vertical{
	display: grid;
	align-items: center;
}
.border-maps iframe{
	width: 100%;
	height: 400px;
	margin-bottom: -10px;
}
.fa-angle-left, .fa-angle-right{
	color: rgb(121, 118, 118);
	font-size: 50px !important;
	font-weight: bold !important;
	cursor: pointer;

}
.content-text{
	padding: 25px 0px;
}
.content-text p{
	font-family: 'Lato', sans-serif;
	padding: 25px 0px;
	color: #777777;
	font-size: 20px;
}
.content-text a{
	font-size: 22px;
	cursor: pointer;
}
.boton-blog{
	font-size: 16px !important;
	font-family: 'Lato', sans-serif;
	background: #ffdd00;
	color: black;
	padding: 20px;
	border-radius: 30px;
	cursor: pointer;
}
.next-prev{
	
	position: absolute;
	top: 50%;
	left: -120px;
	right: -120px;
}

.content-card-blog{
	padding: 0px 15px;
}
.asesoramiento h3 {
	font-family: 'lato', sans-serif;
	padding-top: 30px;
}

@media (min-width: 767px) {
	/* show 3 items */
	.carousel-inner .active,
	.carousel-inner .active + .carousel-item,
	.carousel-inner .active + .carousel-item + .carousel-item {
		display: block;
	}

	.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
	.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
	.carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
		transition: none;
	}

	.carousel-inner .carousel-item-next,
	.carousel-inner .carousel-item-prev {
		position: relative;
		transform: translate3d(0, 0, 0);
	}

	.carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
		position: absolute;
		top: 0;
		right: -33.3333%;
		z-index: -1;
		display: block;
		visibility: visible;
	}

	/* left or forward direction */
	.active.carousel-item-left + .carousel-item-next.carousel-item-left,
	.carousel-item-next.carousel-item-left + .carousel-item,
	.carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
	.carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
		position: relative;
		transform: translate3d(-100%, 0, 0);
		visibility: visible;
	}

	/* farthest right hidden item must be abso position for animations */
	.carousel-inner .carousel-item-prev.carousel-item-right {
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		display: block;
		visibility: visible;
	}

	/* right or prev direction */
	.active.carousel-item-right + .carousel-item-prev.carousel-item-right,
	.carousel-item-prev.carousel-item-right + .carousel-item,
	.carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
	.carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
		position: relative;
		transform: translate3d(100%, 0, 0);
		visibility: visible;
		display: block;
		visibility: visible;
	}
}



/*****************Query Movil***************/
@media (min-width: 0px) and (max-width: 767px){
	.centrar-ayuda{
		display: block;
	}
	.social-nav{
		display: grid;
		justify-content: center;
		padding-left: 0px;
	}
	.social-nav ul{
		display: -webkit-box;
	}
	.menu-nav li{
		border-bottom: 1px solid rgba(204, 204, 204, 0.53);
		padding-bottom: 7px;
		margin-bottom: 10px;
	}
	.mas-informacion {
		padding: 60px 25px;
	}
	.separador{
		padding-bottom: 30px;
	}
	.padding-element{
		padding: 100px 25px 0;
	}
	.info-aseso {
		height: auto;
	}
	.asesoramiento {
		height: auto;
	}
	.asesoramiento h3{
		padding-top: 30px;
	}
	.section-ayuda p {
		padding-bottom: 50px;
		text-align: center;
	}
	.section-ayuda {
		padding-top: 120px;
		padding-bottom: 120px;
	}
	.boton-ayuda{
		display: grid;
		justify-content: center;
	}
	.next-prev {
		left: 0;
		right: 0;
	}

	.section-blog h2,
	.section-contact h2 {
		font-size: 25px;
	}
	.section-contact input {
		width: 100%;
	}
	.section-contact input[type="email"],
	.section-contact input[type="text"]{
		margin: 0;
		margin-bottom: 8px;
	}
	.section-footer div{
		padding-bottom: 25px;
	}
	.section-contact {
		padding: 70px 20px;

	}
	.content-text a{
		color: #404040;
		font-size: 16px;
	}
	.content-text-card {
		height: auto;

	}
	.entrada strong, .categoria strong {
		font-size: 13px;

	}
	.entrada p, .categoria p {

		font-size: 12px;
	}
}
/*****************End Query Movil***************/
/***************** Query tablet***************/
@media (min-width: 768px) and (max-width: 991px){
	.social-nav{
		display: grid;
		justify-content: center;
		padding-left: 0px;
	}
	.text-blog p {
		margin-top: 0px;
	}
	.social-nav ul{
		display: -webkit-box;
	}
	.menu-nav li{
		border-bottom: 1px solid rgba(204, 204, 204, 0.53);
		padding-bottom: 7px;
		margin-bottom: 10px;
	}
	.info-aseso {
		height: auto;
	}
	.asesoramiento {
		height: auto;
	}
	.content-text-card {
		height: auto;

	}
	.section-ayuda a {
		padding: 15px 10px;
		font-size: 12px;

	}
	.next-prev {
		left: -65px;
		right: -65px;
	}
	.section-contact input {
		width: 100%;
	}
	.section-contact input[type="email"],
	.section-contact input[type="text"]{
		margin: 0;
		margin-bottom: 8px;
	}

}
/***************** Query tablet***************/
@media (min-width: 992px) and (max-width: 1200px){

}
@media (min-width: 1201px) and (max-width: 1600px){

}
@media (min-width: 1601px) and (max-width: 2048px){

}

/* Demo Navigation */